<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel_set_password</title>
    <link href='../stylesheets/hostelchangepassword.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <h1>NITC MESS MANAGEMENT</h1>
    </header>
    <img id="logo" src="../images/nitc.png" />
    <div class="horizontal-bar">
        <marquee direction="left" >
            <h2>Welcome to Hostel Administration </h2></marquee> 
        <a href="/logout">Logout</a>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
    </div>
    <br><br>
    <nav class="nav-bar">
        <a href="/hostel">Home</a>
        <a href="/hostel/hostelDues">Hostel dues</a><br>
        <a href="/hostel/studentAccessibility">Student accessibility</a>
    </nav>

    <div class="hostel-list" id="hostel-list-detailed">
        <fieldset>
            <form class="hostel" action="/hostel/changePassword/hostelPass" method="POST">
                <legend>Hostel:</legend>
                <label for="currpwd">Current password:&nbsp;</label>
                <input type="password" id="currhostelpwd" name="currhostelpwd"><br>
                <label for="newpwd">&nbsp;&nbsp;New password:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" id="newhostelpwd" name="newhostelpwd"><br>
                <label for="confpwd">Confirm password:</label>
                <input type="password" id="confhostelpwd" name="confhostelpwd"><br><br>
                <input type="submit" value="Submit">
            </form>
        </fieldset><br>
        <fieldset>
            <form class="mess" action="/hostel/changePassword/mess" method="POST">
                <legend>Mess:</legend>
                <label for="newpwd">&nbsp;&nbsp;New password:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" id="newmesspwd" name="newmesspwd"><br>
                <label for="confpwd">Confirm password:</label>
                <input type="password" id="confmesspwd" name="confmesspwd"><br><br>
                <input type="submit" value="Submit">
            </form>
        </fieldset><br>
        <fieldset>
            <form class="student" action="/hostel/changePassword/student" method="POST">
                <legend>Student:</legend>
                <label for="rollnum">&nbsp;&nbsp;Roll Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="rollnum" name="rollnum"><br>
                <label for="newpwd">&nbsp;&nbsp;New password:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" id="newstudentpwd" name="newstudentpwd"><br>
                <label for="confpwd">Confirm password:</label>
                <input type="password" id="confstudentpwd" name="confstudentpwd"><br><br>
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </div>
    <div id="top" ><h2>Hostel:A</h2></div>
</body>